body {
    margin: 40;
    background-color: aliceblue;
}

.main {
    padding: 20px;
    background-color: #cecece59;
    width: 80%;
    border-radius: 12px;
    padding-left: 30px;
    border: 1px rgba(204, 204, 204, 0.336) solid;
    box-shadow: inset 0px 8px 6px -8px rgba(204, 204, 204, 0.493), inset 0px 8px 6px -8px rgba(204, 204, 204, 0.493);
    padding-bottom: 12px;
}

.main:hover {
    padding: 20px;
    background-color: #cecece59;
    width: 80%;
    border: none;
    border-radius: 12px;
    padding-left: 30px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

.main a {
    text-decoration: none;
    font-size: 18px;
}

h1 {
    color: #126ee2;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.8);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.download {
    color: #126ee2;
    padding: 10px;
}

.download:hover {
    color: #126ee2;
}

.name {
    color: black;
    font-size: 18px;
    padding-left: 4px;
    width: 80%;
    text-transform: capitalize;
}

.date {
    color: #6e6e6e;
    padding-left: 24px;
}

.size {
    color: rgb(247, 55, 55);
}

.list {
    font-size: 19px;
}

.padding {
    padding: 10px;
    padding-left: 5px;
    display: flex;
    justify-content: center;
}

.delete2 {
    color: rgb(165, 0, 0);
    font-size: 16px;
    padding-bottom: 0px;
    float: right;
    border: none;
    background-color: none;
    border-radius: 12px;
    padding: 6px;
}

.delete {
    color: rgb(165, 0, 0);
    font-size: 16px;
    padding-bottom: 0px;
    float: right;
    border: none;
    background-color: none;
    border-radius: 8px;
    padding: 6px;
    box-shadow: inset 0px 8px 6px -8px rgba(172, 172, 172, 0.692), inset 0px 8px 6px -8px rgba(172, 172, 172, 0.692);
}

.delete:hover {
    color: #fff;
    font-size: 16px;
    padding-bottom: 0px;
    float: right;
    border: none;
    background-color: #b93939;
    border-radius: 8px;
    padding: 6px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

input[Type=submit] {
    background: none;
}

form {
    padding: 0px;
}

input {
    padding: 0;
}

* {
    box-sizing: border-box;
}

.fab-wrapper {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
}

.fab-checkbox {
    display: none;
}

.fab {
    position: absolute;
    bottom: -1rem;
    right: -1rem;
    width: 4rem;
    height: 4rem;
    background: blue;
    border-radius: 50%;
    background: #126ee2;
    box-shadow: 0px 5px 20px #7aa0f3;
    transition: all 0.3s ease;
    z-index: 1;
    border-bottom-right-radius: 6px;
    border: 1px solid #0c50a7;
}

.fa-file-o {
    color: #0c50a7;
}

.fa-trash-o {
    padding-right: 8px;
    font-size: 19px;
}

.fab:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
}

.fab-checkbox:checked~.fab:before {
    width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;
    background-color: rgba(255, 255, 255, 0.2);
}

.fab:hover {
    background: #2c87e8;
    box-shadow: 0px 5px 20px 5px #81a4f1;
}

.fab-dots {
    position: absolute;
    height: 8px;
    width: 8px;
    background-color: white;
    border-radius: 50%;
    top: 50%;
    transform: translateX(0%) translateY(-50%) rotate(0deg);
    opacity: 1;
    animation: blink 3s ease infinite;
    transition: all 0.3s ease;
}

.fab-dots-1 {
    left: 15px;
    animation-delay: 0s;
}

.fab-dots-2 {
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    animation-delay: 0.4s;
}

.fab-dots-3 {
    right: 15px;
    animation-delay: 0.8s;
}

.fab-checkbox:checked~.fab .fab-dots {
    height: 6px;
}

.fab .fab-dots-2 {
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
}

.fab-checkbox:checked~.fab .fab-dots-1 {
    width: 32px;
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.fab-checkbox:checked~.fab .fab-dots-3 {
    width: 32px;
    border-radius: 10px;
    right: 50%;
    transform: translateX(50%) translateY(-50%) rotate(-45deg);
}

@keyframes blink {
    50% {
        opacity: 0.25;
    }
}

.fab-checkbox:checked~.fab .fab-dots {
    animation: none;
}

.fab-wheel {
    position: absolute;
    bottom: 0;
    right: 0;
    border: 1px solid rgba(0, 0, 0, 0);
    width: 10rem;
    height: 10rem;
    transition: all 0.3s ease;
    transform-origin: bottom right;
    transform: scale(0);
}

.fab-checkbox:checked~.fab-wheel {
    transform: scale(1);
}

.fab-action {
    position: absolute;
    background: #0f1941;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: White;
    box-shadow: 0 0.1rem 1rem rgba(24, 66, 154, 0.82);
    transition: all 1s ease;
    opacity: 0;
}

.fab-checkbox:checked~.fab-wheel .fab-action {
    opacity: 1;
}

.fab-action:hover {
    background-color: #f16100;
}

.fab-wheel .fab-action-1 {
    right: -1rem;
    top: 0;
}

.fab-wheel .fab-action-2 {
    right: 3.4rem;
    top: 0.5rem;
}

.fab-wheel .fab-action-3 {
    left: 0.5rem;
    bottom: 3.4rem;
}

.fab-wheel .fab-action-4 {
    left: 0;
    bottom: -1rem;
}

.float {
    position: fixed;
    width: 50px;
    height: 50px;
    top: 30px;
    right: 30px;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 28px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    z-index: 100;
}

.my-float {
    margin-top: 10px;
}

.float2 {
    position: fixed;
    width: 50px;
    height: 50px;
    top: 30px;
    left: 30px;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 28px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    z-index: 100;
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 4.8s;
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.float3 {
    position: fixed;
    width: 50px;
    height: 50px;
    top: 110px;
    left: 30px;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 28px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    z-index: 100;
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 9.8s;
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-6deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(2deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(5deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-5deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgba(0, 0, 0, 0.747);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

p {
    text-align: center;
    text-transform: capitalize;
    font-size: 17px;
    color: #a70c0c;
}

h5 {
    text-align: center;
    text-transform: capitalize;
    font-size: 19px;
    background-color: #f1e0bf;
    padding: 30px;
    border-radius: 12px;
    border: none;
    width: 80%;
    color: #000;
}

.padding2 {
    padding: 20px;
    padding-top: 0px;
    padding-left: 60px;
    display: flex;
    justify-content: center;
}

.top-container {
    background-color: #000;
    padding: 30px;
    text-align: center;
}

.header {
    padding: 20px;
    background: #f1e0bf;
    color: #000;
    font-weight: 400;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: -33;
    width: 70%;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

.sticky+.content {
    padding-top: 102px;
}

.imgs {
    padding-top: 36px;
    padding-right: 12px;
    padding-bottom: 0px;
    padding-left: 2px;
    width: 95px;
    height: 90px;
    transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
}

.count {
    text-decoration: underline;
}